<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset=" UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="style/style.css">
	<title>Home | Swish file</title>
</head>

<body>

	<main>
		<div class="container-fluid">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="mt-5 d-flex"><img src="media/swish_logo.svg" alt=""></h1>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="container mt-5">
				<form action="" class="d-flex" method="post" action="home" enctype="multipart/form-data">
					<div class="col-5 left_content">
						<label for="file-input" class="text-center">
							<img src="./media/add_file.svg" alt="">
							Ajoutez vos fichiers <span>(Jusqu'à 5 Mo)</span>
						</label>
						<input type="file" id="file-input" class="hidden_file_input" multiple>
						<div id="file-upload-filename" class="file_content text-center"><i class="fas fa-file-upload imgUpload"></i></div>
						<p class="mt-5 text-center info_style"><i class="fas fa-info"></i> {files_number} fichier(s) . {mo_restant} Mo
							restant</p>
					</div>
					<div class="col-7 right_content d-flex flex-column justify-content-around">
						<input class="w-75 mx-auto" type="mail" placeholder="Envoyer à" name="receiver-mail" required>
						<input class="w-75 mx-auto" type="mail" placeholder="Votre adresse email" name="sender-mail" required>
						<textarea id="message" class="input_message w-75 mx-auto" name="message" maxlength="500" placeholder="Message (500 charactères max)"></textarea>
						<input type="hidden" name="MAX_FILE_SIZE" value="5000000">
						<button class="mx-auto btn" type="submit" name="submit" value="Upload">Transférer</button>
					</div>
				</form>
			</div>
		</div>
	</main>

	<script src="app.js"></script>
</body>

</html>