@import "../node_modules/bootstrap/dist/css/bootstrap.css";

@font-face {
    font-family: 'lato';
    src: url('../fonts/lato/Lato-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/lato/Lato-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/lato/Lato-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/lato/Lato-Regular.svg') format('svg');
    /* Legacy iOS */
    
}

body {
    background-color: #13252D;

    main {

        .left_content {
            min-height: 50vh;
            background-color: #E9654C;
            box-shadow: rgba(0, 0, 0, 0.377) 12px 13px 10px;
        }

        .right_content {
            min-height: 50vh;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.377) 12px 13px 10px;

            input {
                border-right: none;
                border-left: none;
                border-top: none;
                border-bottom-color: #E9654C;
            }
        }

        form {

            ::-webkit-input-placeholder {
                text-align: center;
                color: #13252D;
                font-weight: bold;
                font-family: 'lato' !important;
            }

            .input_message {
                height: 35%;
            }

            .hidden_file_input {
                display: none;
            }

            .file_content {
                min-height: 30vh;

                i {
                    color: #A34735;
                    font-size: 12rem;
                    margin-top: 12%;
                }
            }

            .info_style {
                font-family: 'lato';
                font-size: 1rem;
                color: white;
            }


            i {
                color: #4AC6D4;
                font-size: 2rem;
            }

            label {

                font-family: 'lato';
                font-size: 1.5rem;
                color: white;

                img {
                    width: 15%;

                    &:hover {
                        cursor: pointer;
                    }
                }

                span {
                    margin-top: -5px !important;
                    font-family: 'lato';
                    font-style: italic;
                    font-size: 1rem;
                    color: white;
                }
            }

            textarea {
                border-right: none;
                border-left: none;
                border-top: none;
                border-bottom-color: #E9654C;
                border-width: 2px;
                resize: none;
            }

            button {
                background-color: #13252D;
                width: 30%;
                font-family: 'lato' !important;
                font-size: 1.5rem !important;
                font-weight: bold;
                color: white;
            }
        }

    }
}