/* rotation de 6 images à changer dans slideshow.js*/
.background-cycler img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.background-cycler {
    width: 80%;
    height: 80%;
}

    .card-header {
        background-color: cornflowerblue;
        
    }
    h3 {
        color: antiquewhite;
      }

      h1 {
          color:royalblue;
      }
      .btn-xsm {
          border-radius: 40%;
          background-color: cornflowerblue;
      }
      .btn-outline-primary  {
        background-color: cornflowerblue;
        color:  antiquewhite;
        border-color:cornflowerblue;    
     }
     .txtarea{
         min-width: 100%;
     }
     .rec {
        min-width: 100%;
      
     }