<!DOCTYPE html>
<html lang="fr">
<head>
	<base href="https://localhost:8080/transfer-system">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="envoyer vos fichier rapidement et simplement !">
	<title>Document</title>
</head>
<body>
	
</body>
</html>