<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mail : Swish File</title>
</head>
<body>
	<h1>Swish File</h1>
	<a href="{{ url }}">Télécharger vos fichiers !</a>
</body>
</html>